@font-face {
  font-family: 'LePorsche';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/leporsche.otf') format('opentype'), url('./fonts/leporsche.ttf') format('truetype');
  font-display: swap;
}

body {
  margin: 0;
}

h2 {
  text-transform: uppercase;
  position: relative;
  text-align: right;
  margin-right: 0.5rem;
  font-size: 4rem;
  font-family: 'LePorsche';
  color: #a59027;
  text-shadow: 2px 2px #605310;
}

.header {
  position: relative;
  height: 100vh;
}

.image-wrapper {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.image-wrapper img {
  position: absolute;
  height: 100%;
  top: 0;
}

.foreground-image {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.foreground-image img {
  -webkit-clip-path: url('#billy');
  clip-path: url('#billy');
}

.header h2 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0 0 0 auto;
  z-index: 1;
  max-width: 200px;
  word-break: break-word;
  hyphens: auto;
}

svg {
  height: 0;
  width: 0;
  position: absolute;
}

.timelapse-wrapper {
}

.timelapse {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.frame {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  top: -1px;
  display: block;
  opacity: 0;
  margin-bottom: -100vh;
}

.timelapse img:first-of-type {
  opacity: 1 !important;
}

.visible + .frame {
  opacity: 1;
}

.spacer {
  position: relative;
  flex: 1;
  z-index: 1;
}

.timelapse-title {
  margin-bottom: 100vh;
  height: 0;
}
