body {
  margin: 0;
}

h2 {
  text-transform: uppercase;
  padding-bottom: 100vh;
  position: relative;
  text-align: right;
  margin-right: 0.5rem;
  font-size: 3rem;
}

.image-wrapper {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
}

.image-wrapper img {
  position: absolute;
  height: 100%;
  top: 0;
}

.foreground-image {
  z-index: 1;
}

.foreground-image img {
  clip-path: url('#billy');
}

svg {
  height: 0;
  width: 0;
  position: absolute;
}

.timelapse-wrapper {
}

.timelapse {
}

.frame {
  position: sticky;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  top: -1px;
  display: block;
  opacity: 0;
  margin-bottom: -100vh;
}

.timelapse img:first-of-type {
  opacity: 1 !important;
}

.visible + .frame {
  opacity: 1;
}

.spacer {
  position: relative;
  height: 66vh;
  outline: 1px solid;
  z-index: 1;
}

.timelapse-title {
}
